html {
    background-color: cadetblue;
    border-style: groove;
    border-color: sandybrown;
    border-width: 10px;
    height: 100%;
    width: 100%;
    text-align: center;
}

h1 {
    text-decoration: underline solid black;
    color: seashell;
}

#lotto-img {
    text-align: center;
    border: groove sandybrown 10px;
    width: 60vw;
    height: auto;
    margin-bottom: 5vh;
}

#lotto-form {
    color: seashell;
    text-align: center;
    font-size: large;
}

#num-input {
    width: 3vw;
}

#lottoDisplay {
    color: sandybrown;
    font-size: xx-large;
}